<article id="leads">
	<h1>
		Leads
		{{link-to 'New Lead' 'leads.new'}}
	</h1>
	<ul>
		{{#each}}
			{{#link-to 'lead' this}} <li>{{fullName}}</li> {{/link-to}}
		{{/each}}
	</ul>
</article>
{{outlet}}
